*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    height: 90vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.812),rgba(0,0,0,0.66)),url("../assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    color: white;
    font-size: 24px;
    text-align: center;
    width: 60%;
}
.banner-content{

}
.banner-content p{
    margin: 0 0 0 50px;
    color: #e4d2d2;
    font-size: small;
}
.banner-btn{
    margin: 10px;
    border: none;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px red;
}